PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE `strapi_migrations` (`id` integer not null primary key autoincrement, `name` varchar(255), `time` datetime);
CREATE TABLE `strapi_migrations_internal` (`id` integer not null primary key autoincrement, `name` varchar(255), `time` datetime);
INSERT INTO strapi_migrations_internal VALUES(1,'5.0.0-rename-identifiers-longer-than-max-length',1752588719913);
INSERT INTO strapi_migrations_internal VALUES(2,'5.0.0-02-created-document-id',1752588719929);
INSERT INTO strapi_migrations_internal VALUES(3,'5.0.0-03-created-locale',1752588719942);
CREATE TABLE `strapi_database_schema` (`id` integer not null primary key autoincrement, `schema` json, `time` datetime, `hash` varchar(255));
CREATE TABLE `components_shared_seos` (`id` integer not null primary key autoincrement, `meta_title` varchar(255) null, `meta_description` varchar(255) null);
CREATE TABLE `components_pricing_plans` (`id` integer not null primary key autoincrement, `title` varchar(255) null, `price` varchar(255) null, `description` text null);
CREATE TABLE `components_pricing_feature_items` (`id` integer not null primary key autoincrement, `plan_name` varchar(255) null, `plan_status` boolean null, `renews_on` date null);
CREATE TABLE `components_plan_feature_features` (`id` integer not null primary key autoincrement, `feature` varchar(255) null);
CREATE TABLE `components_home_page_testimonials` (`id` integer not null primary key autoincrement, `name` varchar(255) null, `content` text null);
CREATE TABLE `components_home_page_other_sections` (`id` integer not null primary key autoincrement, `title` varchar(255) null, `content` text null);
CREATE TABLE `components_home_page_footers` (`id` integer not null primary key autoincrement, `phone` varchar(255) null, `email` varchar(255) null);
CREATE TABLE `components_home_page_features` (`id` integer not null primary key autoincrement, `title` varchar(255) null, `feature` text null, `icon` varchar(255) null);
CREATE TABLE `components_home_page_feature_main_contents` (`id` integer not null primary key autoincrement, `title` varchar(255) null, `description` text null);
CREATE TABLE `components_home_page_body_sections` (`id` integer not null primary key autoincrement, `title` varchar(255) null, `description` text null);
CREATE TABLE `components_footer_social_links` (`id` integer not null primary key autoincrement, `links` text null);
CREATE TABLE `components_faq_questions` (`id` integer not null primary key autoincrement, `question` text null, `answer` varchar(255) null);
CREATE TABLE `components_about_us_team_members` (`id` integer not null primary key autoincrement, `name` varchar(255) null, `position` varchar(255) null, `bio` json null, `linkedin` varchar(255) null);
CREATE TABLE `components_about_us_feedback_sections` (`id` integer not null primary key autoincrement, `title` varchar(255) null, `content` text null, `button_link` varchar(255) null);
CREATE TABLE `components_about_us_cards` (`id` integer not null primary key autoincrement, `content` text null, `title` text null);
CREATE TABLE `components_about_us_body_section1s` (`id` integer not null primary key autoincrement, `title` varchar(255) null, `title_2` varchar(255) null);
CREATE TABLE `strapi_core_store_settings` (`id` integer not null primary key autoincrement, `key` varchar(255) null, `value` text null, `type` varchar(255) null, `environment` varchar(255) null, `tag` varchar(255) null);
CREATE TABLE `strapi_webhooks` (`id` integer not null primary key autoincrement, `name` varchar(255) null, `url` text null, `headers` json null, `events` json null, `enabled` boolean null);
CREATE TABLE IF NOT EXISTS "files" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `name` varchar(255) NULL, `alternative_text` varchar(255) NULL, `caption` varchar(255) NULL, `width` integer NULL, `height` integer NULL, `formats` json NULL, `hash` varchar(255) NULL, `ext` varchar(255) NULL, `mime` varchar(255) NULL, `size` float NULL, `url` varchar(255) NULL, `preview_url` varchar(255) NULL, `provider` varchar(255) NULL, `provider_metadata` json NULL, `folder_path` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `files_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `files_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `files_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `files_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
INSERT INTO files VALUES(1,'bx1ajzgl6mxe8iftl61cbkmx','thumbnail_Biceps_Tendinopathy_37e3c692f6.jpg',NULL,NULL,245,123,NULL,'thumbnail_Biceps_Tendinopathy_37e3c692f6_f989862742','.jpg','image/jpeg',5.950000000000000177,'/uploads/thumbnail_Biceps_Tendinopathy_37e3c692f6_f989862742.jpg',NULL,'local',NULL,'/',1753075154741,1753075339800,1753075154742,1,1,NULL);
INSERT INTO files VALUES(2,'kuf90iynlrwrgo0vj8rwma49','thumbnail_download4_ccad15de6c.jpg',NULL,NULL,214,156,NULL,'thumbnail_download4_ccad15de6c_fd33258ab5','.jpg','image/jpeg',12.72000000000000063,'/uploads/thumbnail_download4_ccad15de6c_fd33258ab5.jpg',NULL,'local',NULL,'/',1753075919803,1753075919803,1753075919803,1,1,NULL);
INSERT INTO files VALUES(23,'wb69qi5li54zj8gz62uczmba','thumbnail_Biceps_Tendinopathy_37e3c692f6.jpg',NULL,NULL,245,123,NULL,'thumbnail_Biceps_Tendinopathy_37e3c692f6_bbc94599ae','.jpg','image/jpeg',5.950000000000000177,'/uploads/thumbnail_Biceps_Tendinopathy_37e3c692f6_bbc94599ae.jpg',NULL,'local',NULL,'/1',1753520906256,1753520906256,1753520906256,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "upload_folders" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `name` varchar(255) NULL, `path_id` integer NULL, `path` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `upload_folders_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `upload_folders_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `upload_folders_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `upload_folders_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
INSERT INTO upload_folders VALUES(1,'p8z3kmru0vckmhisvsqkxs69','API Uploads',1,'/1',1753183795672,1753183795672,1753183795672,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "i18n_locale" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `name` varchar(255) NULL, `code` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `i18n_locale_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `i18n_locale_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `i18n_locale_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `i18n_locale_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
INSERT INTO i18n_locale VALUES(1,'zd5b1mu4jcwz7zg6g38w9h4g','English (en)','en',1752588838038,1752588838038,1752588838038,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "strapi_releases" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `name` varchar(255) NULL, `released_at` datetime NULL, `scheduled_at` datetime NULL, `timezone` varchar(255) NULL, `status` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `strapi_releases_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_releases_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_releases_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_releases_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "strapi_release_actions" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `type` varchar(255) NULL, `content_type` varchar(255) NULL, `entry_document_id` varchar(255) NULL, `locale` varchar(255) NULL, `is_entry_valid` boolean NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, CONSTRAINT `strapi_release_actions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_release_actions_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_release_actions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_release_actions_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "strapi_workflows" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `name` varchar(255) NULL, `content_types` json NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `strapi_workflows_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_workflows_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_workflows_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_workflows_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "strapi_workflows_stages" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `name` varchar(255) NULL, `color` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `strapi_workflows_stages_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_workflows_stages_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_workflows_stages_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_workflows_stages_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "up_permissions" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `action` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `up_permissions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `up_permissions_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `up_permissions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `up_permissions_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
INSERT INTO up_permissions VALUES(1,'ucl0662tfirq5jgb5fgh2a9x','plugin::users-permissions.user.me',1752588838108,1752588838108,1752588838109,NULL,NULL,NULL);
INSERT INTO up_permissions VALUES(2,'ml1djpy4nysy4i6qouxy79pv','plugin::users-permissions.auth.changePassword',1752588838108,1752588838108,1752588838109,NULL,NULL,NULL);
INSERT INTO up_permissions VALUES(3,'dd37ne5w8plr9k77lusw8prg','plugin::users-permissions.auth.callback',1752588838139,1752588838139,1752588838139,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "up_roles" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `name` varchar(255) NULL, `description` varchar(255) NULL, `type` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `up_roles_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `up_roles_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `up_roles_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `up_roles_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
INSERT INTO up_roles VALUES(1,'za9mzcely0jnanjn1jdu1rqd','Authenticated','Default role given to authenticated user.','authenticated',1752588838091,1753181544194,1752588838091,NULL,NULL,NULL);
INSERT INTO up_roles VALUES(2,'zzcvga17w53n3ql5fh0n9guz','Public','Default role given to unauthenticated user.','public',1752588838098,1752588838098,1752588838099,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "up_users" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `username` varchar(255) NULL, `email` varchar(255) NULL, `provider` varchar(255) NULL, `password` varchar(255) NULL, `reset_password_token` varchar(255) NULL, `confirmation_token` varchar(255) NULL, `confirmed` boolean NULL, `blocked` boolean NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `up_users_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `up_users_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `up_users_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `up_users_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "admin_permissions" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `action` varchar(255) NULL, `action_parameters` json NULL, `subject` varchar(255) NULL, `properties` json NULL, `conditions` json NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `admin_permissions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `admin_permissions_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `admin_permissions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `admin_permissions_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
INSERT INTO admin_permissions VALUES(46,'ot34z9p857eko6nq76oce1nm','plugin::upload.read','{}',NULL,'{}','[]',1752588838968,1752588838968,1752588838968,NULL,NULL,NULL);
INSERT INTO admin_permissions VALUES(47,'bnvwp64hrr1zeaw523j6opqx','plugin::upload.configure-view','{}',NULL,'{}','[]',1752588838984,1752588838984,1752588838984,NULL,NULL,NULL);
INSERT INTO admin_permissions VALUES(48,'ze0zzx5055xrvoqvldokqf60','plugin::upload.assets.create','{}',NULL,'{}','[]',1752588838999,1752588838999,1752588838999,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "admin_users" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `firstname` varchar(255) NULL, `lastname` varchar(255) NULL, `username` varchar(255) NULL, `email` varchar(255) NULL, `password` varchar(255) NULL, `reset_password_token` varchar(255) NULL, `registration_token` varchar(255) NULL, `is_active` boolean NULL, `blocked` boolean NULL, `prefered_language` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `admin_users_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `admin_users_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `admin_users_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `admin_users_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
INSERT INTO admin_users VALUES(1,'b49krtq6k7y0glv60cn5ck86','ravi','pambhar',NULL,'vivid.ravipambhar@gmail.com','$2a$10$9My9lmBcHWjlS1c/.NhFoevX53qKZ1rR9cnmkpMoD3sG3mlN7yG2.',NULL,NULL,1,0,NULL,1752588940127,1752588940127,1752588940128,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "admin_roles" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `name` varchar(255) NULL, `code` varchar(255) NULL, `description` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `admin_roles_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `admin_roles_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `admin_roles_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `admin_roles_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
INSERT INTO admin_roles VALUES(1,'ceum2raa46h5yc794qbrc5ld','Super Admin','strapi-super-admin','Super Admins can access and manage all features and settings.',1752588838255,1752588838255,1752588838255,NULL,NULL,NULL);
INSERT INTO admin_roles VALUES(2,'d78g6ha2q63w5d832fax3kwm','Editor','strapi-editor','Editors can manage and publish contents including those of other users.',1752588838265,1752588838265,1752588838266,NULL,NULL,NULL);
INSERT INTO admin_roles VALUES(3,'zlodhoebjydkr74jof6qshwk','Author','strapi-author','Authors can manage the content they have created.',1752588838273,1752588838273,1752588838274,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "strapi_api_tokens" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `name` varchar(255) NULL, `description` varchar(255) NULL, `type` varchar(255) NULL, `access_key` varchar(255) NULL, `encrypted_key` text NULL, `last_used_at` datetime NULL, `expires_at` datetime NULL, `lifespan` bigint NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `strapi_api_tokens_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_api_tokens_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_api_tokens_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_api_tokens_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "strapi_api_token_permissions" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `action` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `strapi_api_token_permissions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_api_token_permissions_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_api_token_permissions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_api_token_permissions_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "strapi_transfer_tokens" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `name` varchar(255) NULL, `description` varchar(255) NULL, `access_key` varchar(255) NULL, `last_used_at` datetime NULL, `expires_at` datetime NULL, `lifespan` bigint NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `strapi_transfer_tokens_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_transfer_tokens_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_transfer_tokens_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_transfer_tokens_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "strapi_transfer_token_permissions" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `action` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `strapi_transfer_token_permissions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_transfer_token_permissions_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_transfer_token_permissions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_transfer_token_permissions_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "components_pricing_plans_cmps" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `entity_id` integer NULL, `cmp_id` integer NULL, `component_type` varchar(255) NULL, `field` varchar(255) NULL, `order` float NULL, CONSTRAINT `components_pricing_plans_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `components_pricing_plans` (`id`) ON DELETE CASCADE, CONSTRAINT `components_pricing_plans_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `components_pricing_plans` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "components_home_page_footers_cmps" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `entity_id` integer NULL, `cmp_id` integer NULL, `component_type` varchar(255) NULL, `field` varchar(255) NULL, `order` float NULL, CONSTRAINT `components_home_page_footers_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `components_home_page_footers` (`id`) ON DELETE CASCADE, CONSTRAINT `components_home_page_footers_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `components_home_page_footers` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "strapi_history_versions" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `content_type` varchar(255) NOT NULL, `related_document_id` varchar(255) NULL, `locale` varchar(255) NULL, `status` varchar(255) NULL, `data` json NULL, `schema` json NULL, `created_at` datetime NULL, `created_by_id` integer NULL, CONSTRAINT `strapi_history_versions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `strapi_history_versions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "files_related_mph" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `file_id` integer NULL, `related_id` integer NULL, `related_type` varchar(255) NULL, `field` varchar(255) NULL, `order` float NULL, CONSTRAINT `files_related_mph_fk` FOREIGN KEY (`file_id`) REFERENCES `files` (`id`) ON DELETE CASCADE, CONSTRAINT `files_related_mph_fk` FOREIGN KEY (`file_id`) REFERENCES `files` (`id`) ON DELETE CASCADE);
INSERT INTO files_related_mph VALUES(5,2,4,'api::ac-blogs.ac-blogs','image',1.0);
INSERT INTO files_related_mph VALUES(6,2,6,'api::ac-blogs.ac-blogs','image',1.0);
INSERT INTO files_related_mph VALUES(7,1,1,'api::ac-blogs.ac-blogs','image',1.0);
CREATE TABLE IF NOT EXISTS "files_folder_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `file_id` integer NULL, `folder_id` integer NULL, `file_ord` float NULL, CONSTRAINT `files_folder_lnk_fk` FOREIGN KEY (`file_id`) REFERENCES `files` (`id`) ON DELETE CASCADE, CONSTRAINT `files_folder_lnk_ifk` FOREIGN KEY (`folder_id`) REFERENCES `upload_folders` (`id`) ON DELETE CASCADE, CONSTRAINT `files_folder_lnk_fk` FOREIGN KEY (`file_id`) REFERENCES `files` (`id`) ON DELETE CASCADE, CONSTRAINT `files_folder_lnk_ifk` FOREIGN KEY (`folder_id`) REFERENCES `upload_folders` (`id`) ON DELETE CASCADE);
INSERT INTO files_folder_lnk VALUES(21,23,1,1.0);
CREATE TABLE IF NOT EXISTS "upload_folders_parent_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `folder_id` integer NULL, `inv_folder_id` integer NULL, `folder_ord` float NULL, CONSTRAINT `upload_folders_parent_lnk_fk` FOREIGN KEY (`folder_id`) REFERENCES `upload_folders` (`id`) ON DELETE CASCADE, CONSTRAINT `upload_folders_parent_lnk_ifk` FOREIGN KEY (`inv_folder_id`) REFERENCES `upload_folders` (`id`) ON DELETE CASCADE, CONSTRAINT `upload_folders_parent_lnk_fk` FOREIGN KEY (`folder_id`) REFERENCES `upload_folders` (`id`) ON DELETE CASCADE, CONSTRAINT `upload_folders_parent_lnk_ifk` FOREIGN KEY (`inv_folder_id`) REFERENCES `upload_folders` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "strapi_release_actions_release_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `release_action_id` integer NULL, `release_id` integer NULL, `release_action_ord` float NULL, CONSTRAINT `strapi_release_actions_release_lnk_fk` FOREIGN KEY (`release_action_id`) REFERENCES `strapi_release_actions` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_release_actions_release_lnk_ifk` FOREIGN KEY (`release_id`) REFERENCES `strapi_releases` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_release_actions_release_lnk_fk` FOREIGN KEY (`release_action_id`) REFERENCES `strapi_release_actions` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_release_actions_release_lnk_ifk` FOREIGN KEY (`release_id`) REFERENCES `strapi_releases` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "strapi_workflows_stage_required_to_publish_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `workflow_id` integer NULL, `workflow_stage_id` integer NULL, CONSTRAINT `strapi_workflows_stage_required_to_publish_lnk_fk` FOREIGN KEY (`workflow_id`) REFERENCES `strapi_workflows` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_workflows_stage_required_to_publish_lnk_ifk` FOREIGN KEY (`workflow_stage_id`) REFERENCES `strapi_workflows_stages` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_workflows_stage_required_to_publish_lnk_fk` FOREIGN KEY (`workflow_id`) REFERENCES `strapi_workflows` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_workflows_stage_required_to_publish_lnk_ifk` FOREIGN KEY (`workflow_stage_id`) REFERENCES `strapi_workflows_stages` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "strapi_workflows_stages_workflow_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `workflow_stage_id` integer NULL, `workflow_id` integer NULL, `workflow_stage_ord` float NULL, CONSTRAINT `strapi_workflows_stages_workflow_lnk_fk` FOREIGN KEY (`workflow_stage_id`) REFERENCES `strapi_workflows_stages` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_workflows_stages_workflow_lnk_ifk` FOREIGN KEY (`workflow_id`) REFERENCES `strapi_workflows` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_workflows_stages_workflow_lnk_fk` FOREIGN KEY (`workflow_stage_id`) REFERENCES `strapi_workflows_stages` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_workflows_stages_workflow_lnk_ifk` FOREIGN KEY (`workflow_id`) REFERENCES `strapi_workflows` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "strapi_workflows_stages_permissions_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `workflow_stage_id` integer NULL, `permission_id` integer NULL, `permission_ord` float NULL, CONSTRAINT `strapi_workflows_stages_permissions_lnk_fk` FOREIGN KEY (`workflow_stage_id`) REFERENCES `strapi_workflows_stages` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_workflows_stages_permissions_lnk_ifk` FOREIGN KEY (`permission_id`) REFERENCES `admin_permissions` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_workflows_stages_permissions_lnk_fk` FOREIGN KEY (`workflow_stage_id`) REFERENCES `strapi_workflows_stages` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_workflows_stages_permissions_lnk_ifk` FOREIGN KEY (`permission_id`) REFERENCES `admin_permissions` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "up_permissions_role_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `permission_id` integer NULL, `role_id` integer NULL, `permission_ord` float NULL, CONSTRAINT `up_permissions_role_lnk_fk` FOREIGN KEY (`permission_id`) REFERENCES `up_permissions` (`id`) ON DELETE CASCADE, CONSTRAINT `up_permissions_role_lnk_ifk` FOREIGN KEY (`role_id`) REFERENCES `up_roles` (`id`) ON DELETE CASCADE, CONSTRAINT `up_permissions_role_lnk_fk` FOREIGN KEY (`permission_id`) REFERENCES `up_permissions` (`id`) ON DELETE CASCADE, CONSTRAINT `up_permissions_role_lnk_ifk` FOREIGN KEY (`role_id`) REFERENCES `up_roles` (`id`) ON DELETE CASCADE);
INSERT INTO up_permissions_role_lnk VALUES(1,1,1,1.0);
INSERT INTO up_permissions_role_lnk VALUES(2,2,1,2.0);
INSERT INTO up_permissions_role_lnk VALUES(3,3,2,1.0);
CREATE TABLE IF NOT EXISTS "up_users_role_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `user_id` integer NULL, `role_id` integer NULL, `user_ord` float NULL, CONSTRAINT `up_users_role_lnk_fk` FOREIGN KEY (`user_id`) REFERENCES `up_users` (`id`) ON DELETE CASCADE, CONSTRAINT `up_users_role_lnk_ifk` FOREIGN KEY (`role_id`) REFERENCES `up_roles` (`id`) ON DELETE CASCADE, CONSTRAINT `up_users_role_lnk_fk` FOREIGN KEY (`user_id`) REFERENCES `up_users` (`id`) ON DELETE CASCADE, CONSTRAINT `up_users_role_lnk_ifk` FOREIGN KEY (`role_id`) REFERENCES `up_roles` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "admin_permissions_role_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `permission_id` integer NULL, `role_id` integer NULL, `permission_ord` float NULL, CONSTRAINT `admin_permissions_role_lnk_fk` FOREIGN KEY (`permission_id`) REFERENCES `admin_permissions` (`id`) ON DELETE CASCADE, CONSTRAINT `admin_permissions_role_lnk_ifk` FOREIGN KEY (`role_id`) REFERENCES `admin_roles` (`id`) ON DELETE CASCADE, CONSTRAINT `admin_permissions_role_lnk_fk` FOREIGN KEY (`permission_id`) REFERENCES `admin_permissions` (`id`) ON DELETE CASCADE, CONSTRAINT `admin_permissions_role_lnk_ifk` FOREIGN KEY (`role_id`) REFERENCES `admin_roles` (`id`) ON DELETE CASCADE);
INSERT INTO admin_permissions_role_lnk VALUES(46,46,2,46.0);
INSERT INTO admin_permissions_role_lnk VALUES(47,47,2,47.0);
INSERT INTO admin_permissions_role_lnk VALUES(48,48,2,48.0);
CREATE TABLE IF NOT EXISTS "admin_users_roles_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `user_id` integer NULL, `role_id` integer NULL, `role_ord` float NULL, `user_ord` float NULL, CONSTRAINT `admin_users_roles_lnk_fk` FOREIGN KEY (`user_id`) REFERENCES `admin_users` (`id`) ON DELETE CASCADE, CONSTRAINT `admin_users_roles_lnk_ifk` FOREIGN KEY (`role_id`) REFERENCES `admin_roles` (`id`) ON DELETE CASCADE, CONSTRAINT `admin_users_roles_lnk_fk` FOREIGN KEY (`user_id`) REFERENCES `admin_users` (`id`) ON DELETE CASCADE, CONSTRAINT `admin_users_roles_lnk_ifk` FOREIGN KEY (`role_id`) REFERENCES `admin_roles` (`id`) ON DELETE CASCADE);
INSERT INTO admin_users_roles_lnk VALUES(1,1,1,1.0,1.0);
CREATE TABLE IF NOT EXISTS "strapi_api_token_permissions_token_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `api_token_permission_id` integer NULL, `api_token_id` integer NULL, `api_token_permission_ord` float NULL, CONSTRAINT `strapi_api_token_permissions_token_lnk_fk` FOREIGN KEY (`api_token_permission_id`) REFERENCES `strapi_api_token_permissions` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_api_token_permissions_token_lnk_ifk` FOREIGN KEY (`api_token_id`) REFERENCES `strapi_api_tokens` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_api_token_permissions_token_lnk_fk` FOREIGN KEY (`api_token_permission_id`) REFERENCES `strapi_api_token_permissions` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_api_token_permissions_token_lnk_ifk` FOREIGN KEY (`api_token_id`) REFERENCES `strapi_api_tokens` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "strapi_transfer_token_permissions_token_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `transfer_token_permission_id` integer NULL, `transfer_token_id` integer NULL, `transfer_token_permission_ord` float NULL, CONSTRAINT `strapi_transfer_token_permissions_token_lnk_fk` FOREIGN KEY (`transfer_token_permission_id`) REFERENCES `strapi_transfer_token_permissions` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_transfer_token_permissions_token_lnk_ifk` FOREIGN KEY (`transfer_token_id`) REFERENCES `strapi_transfer_tokens` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_transfer_token_permissions_token_lnk_fk` FOREIGN KEY (`transfer_token_permission_id`) REFERENCES `strapi_transfer_token_permissions` (`id`) ON DELETE CASCADE, CONSTRAINT `strapi_transfer_token_permissions_token_lnk_ifk` FOREIGN KEY (`transfer_token_id`) REFERENCES `strapi_transfer_tokens` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "components_about_us_section_contents" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL);
CREATE TABLE IF NOT EXISTS "components_about_us_founder_sections" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `title` varchar(255) NULL, `button_link` varchar(255) NULL);
CREATE TABLE `components_about_us_contents` (`id` integer not null primary key autoincrement, `content` text null);
CREATE TABLE IF NOT EXISTS "components_about_us_founder_sections_cmps" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `entity_id` integer NULL, `cmp_id` integer NULL, `component_type` varchar(255) NULL, `field` varchar(255) NULL, `order` float NULL, CONSTRAINT `components_about_us_founder_sections_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `components_about_us_founder_sections` (`id`) ON DELETE CASCADE, CONSTRAINT `components_about_us_founder_sections_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `components_about_us_founder_sections` (`id`) ON DELETE CASCADE);
CREATE TABLE `components_blog_tags` (`id` integer not null primary key autoincrement, `label` varchar(255) null);
CREATE TABLE IF NOT EXISTS "about_uses_cmps" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `entity_id` integer NULL, `cmp_id` integer NULL, `component_type` varchar(255) NULL, `field` varchar(255) NULL, `order` float NULL, CONSTRAINT `about_uses_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `about_uses` (`id`) ON DELETE CASCADE, CONSTRAINT `about_uses_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `about_uses` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "about_uses" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `about_uses_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `about_uses_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `about_uses_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `about_uses_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "ac_blog_category" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `title` text NULL, `slug` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `ac_blog_category_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_blog_category_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_blog_category_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_blog_category_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "ac_blog" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `title` text NULL, `slug` varchar(255) NULL, `content` text NULL, `instructions` text NULL, `excerpt` text NULL, `published_on` datetime NULL, `author` varchar(255) NULL, `type` varchar(255) NULL, `topics` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `ac_blog_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_blog_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_blog_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_blog_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "blogs" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `title` varchar(255) NULL, `slug` varchar(255) NULL, `content` text NULL, `author` varchar(255) NULL, `published_on` datetime NULL, `is_published` boolean NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `blogs_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `blogs_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `blogs_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `blogs_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "contact_uses" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `title` varchar(255) NULL, `sub_description` text NULL, `section_title` varchar(255) NULL, `section_description` text NULL, `email` varchar(255) NULL, `phone` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `contact_uses_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `contact_uses_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `contact_uses_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `contact_uses_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "contacts_details_list" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `name` varchar(255) NULL, `email` varchar(255) NULL, `message` text NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `contacts_details_list_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `contacts_details_list_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `contacts_details_list_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `contacts_details_list_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "dg_posts" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `title` varchar(255) NULL, `comment` text NULL, `post_status` varchar(255) NULL, `external_user_id` varchar(255) NULL, `nickname_snapshot` varchar(255) NULL, `reported_by_user_ids` json NULL, `report_reasons` json NULL, `admin_comments` varchar(255) NULL, `is_deleted` boolean NULL, `image` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `dg_posts_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `dg_posts_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `dg_posts_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `dg_posts_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "faqs" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `question` varchar(255) NULL, `answer` text NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `faqs_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `faqs_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `faqs_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `faqs_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "feedbacks" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `tenant` varchar(255) NULL, `user_email` varchar(255) NULL, `user_signup_date` varchar(255) NULL, `credits_used_till_now` integer NULL, `size_charts_created_till_now` integer NULL, `feedback_date` varchar(255) NULL, `improvement` text NULL, `liked_about_app` text NULL, `price_option` varchar(255) NULL, `user_name` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `feedbacks_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `feedbacks_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `feedbacks_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `feedbacks_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "gallaries" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `description` text NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `gallaries_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `gallaries_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `gallaries_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `gallaries_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "home_pages_cmps" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `entity_id` integer NULL, `cmp_id` integer NULL, `component_type` varchar(255) NULL, `field` varchar(255) NULL, `order` float NULL, CONSTRAINT `home_pages_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `home_pages` (`id`) ON DELETE CASCADE, CONSTRAINT `home_pages_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `home_pages` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "home_pages" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `title` varchar(255) NULL, `banner_content` text NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `home_pages_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `home_pages_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `home_pages_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `home_pages_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "pricings_cmps" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `entity_id` integer NULL, `cmp_id` integer NULL, `component_type` varchar(255) NULL, `field` varchar(255) NULL, `order` float NULL, CONSTRAINT `pricings_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `pricings` (`id`) ON DELETE CASCADE, CONSTRAINT `pricings_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `pricings` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "pricings" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `description` text NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `pricings_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `pricings_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `pricings_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `pricings_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "ac_blog_categories_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `ac_blogs_id` integer NULL, `ac_blog_categories_id` integer NULL, `ac_blogs_ord` float NULL, CONSTRAINT `ac_blog_categories_lnk_fk` FOREIGN KEY (`ac_blogs_id`) REFERENCES `ac_blog` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_blog_categories_lnk_ifk` FOREIGN KEY (`ac_blog_categories_id`) REFERENCES `ac_blog_category` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_blog_categories_lnk_fk` FOREIGN KEY (`ac_blogs_id`) REFERENCES `ac_blog` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_blog_categories_lnk_ifk` FOREIGN KEY (`ac_blog_categories_id`) REFERENCES `ac_blog_category` (`id`) ON DELETE CASCADE);
CREATE TABLE `components_ac_question_options` (`id` integer not null primary key autoincrement, `label` text null);
CREATE TABLE IF NOT EXISTS "ac_courses" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `title` text NULL, `slug` varchar(255) NULL, `description` text NULL, `instructor` text NULL, `duration` text NULL, `lessons_count` integer NULL, `type` varchar(255) NULL, `topics` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `ac_courses_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_courses_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_courses_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_courses_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "ac_course_categories" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `name` text NULL, `slug` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `ac_course_categories_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_course_categories_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_course_categories_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_course_categories_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "ac_faqs" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `question` text NULL, `answer` text NULL, `is_active` boolean NULL, `order` integer NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `ac_faqs_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_faqs_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_faqs_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_faqs_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "ac_lessons" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `title` text NULL, `video_url` text NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `ac_lessons_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_lessons_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_lessons_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_lessons_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "ac_questions_cmps" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `entity_id` integer NULL, `cmp_id` integer NULL, `component_type` varchar(255) NULL, `field` varchar(255) NULL, `order` float NULL, CONSTRAINT `ac_questions_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `ac_questions` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_questions_entity_fk` FOREIGN KEY (`entity_id`) REFERENCES `ac_questions` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "ac_questions" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `prompt` text NULL, `type` varchar(255) NULL, `order` integer NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `ac_questions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_questions_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_questions_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_questions_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "ac_questionnaires" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `title` text NULL, `description` text NULL, `slug` varchar(255) NULL, `is_active` boolean NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `ac_questionnaires_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_questionnaires_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_questionnaires_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `ac_questionnaires_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "tests" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `document_id` varchar(255) NULL, `created_at` datetime NULL, `updated_at` datetime NULL, `published_at` datetime NULL, `created_by_id` integer NULL, `updated_by_id` integer NULL, `locale` varchar(255) NULL, CONSTRAINT `tests_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `tests_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `tests_created_by_id_fk` FOREIGN KEY (`created_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL, CONSTRAINT `tests_updated_by_id_fk` FOREIGN KEY (`updated_by_id`) REFERENCES `admin_users` (`id`) ON DELETE SET NULL);
CREATE TABLE IF NOT EXISTS "ac_course_categories_course_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `ac_course_category_id` integer NULL, `ac_course_id` integer NULL, `ac_course_category_ord` float NULL, CONSTRAINT `ac_course_categories_course_lnk_fk` FOREIGN KEY (`ac_course_category_id`) REFERENCES `ac_course_categories` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_course_categories_course_lnk_ifk` FOREIGN KEY (`ac_course_id`) REFERENCES `ac_courses` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_course_categories_course_lnk_fk` FOREIGN KEY (`ac_course_category_id`) REFERENCES `ac_course_categories` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_course_categories_course_lnk_ifk` FOREIGN KEY (`ac_course_id`) REFERENCES `ac_courses` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "ac_lessons_course_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `ac_lesson_id` integer NULL, `ac_course_id` integer NULL, `ac_lesson_ord` float NULL, CONSTRAINT `ac_lessons_course_lnk_fk` FOREIGN KEY (`ac_lesson_id`) REFERENCES `ac_lessons` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_lessons_course_lnk_ifk` FOREIGN KEY (`ac_course_id`) REFERENCES `ac_courses` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_lessons_course_lnk_fk` FOREIGN KEY (`ac_lesson_id`) REFERENCES `ac_lessons` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_lessons_course_lnk_ifk` FOREIGN KEY (`ac_course_id`) REFERENCES `ac_courses` (`id`) ON DELETE CASCADE);
CREATE TABLE IF NOT EXISTS "ac_questions_questionnaire_lnk" (`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL, `ac_question_id` integer NULL, `ac_questionnaire_id` integer NULL, `ac_question_ord` float NULL, CONSTRAINT `ac_questions_questionnaire_lnk_fk` FOREIGN KEY (`ac_question_id`) REFERENCES `ac_questions` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_questions_questionnaire_lnk_ifk` FOREIGN KEY (`ac_questionnaire_id`) REFERENCES `ac_questionnaires` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_questions_questionnaire_lnk_fk` FOREIGN KEY (`ac_question_id`) REFERENCES `ac_questions` (`id`) ON DELETE CASCADE, CONSTRAINT `ac_questions_questionnaire_lnk_ifk` FOREIGN KEY (`ac_questionnaire_id`) REFERENCES `ac_questionnaires` (`id`) ON DELETE CASCADE);
INSERT INTO sqlite_sequence VALUES('strapi_migrations_internal',6);
INSERT INTO sqlite_sequence VALUES('files',23);
INSERT INTO sqlite_sequence VALUES('upload_folders',1);
CREATE INDEX `upload_files_folder_path_index` on `files` (`folder_path`);
CREATE INDEX `upload_files_created_at_index` on `files` (`created_at`);
CREATE INDEX `upload_files_updated_at_index` on `files` (`updated_at`);
CREATE INDEX `upload_files_name_index` on `files` (`name`);
CREATE INDEX `upload_files_size_index` on `files` (`size`);
CREATE INDEX `upload_files_ext_index` on `files` (`ext`);
CREATE INDEX `files_documents_idx` on `files` (`document_id`, `locale`, `published_at`);
CREATE INDEX `files_created_by_id_fk` on `files` (`created_by_id`);
CREATE INDEX `files_updated_by_id_fk` on `files` (`updated_by_id`);
CREATE UNIQUE INDEX `upload_folders_path_id_index` on `upload_folders` (`path_id`);
CREATE UNIQUE INDEX `upload_folders_path_index` on `upload_folders` (`path`);
CREATE INDEX `upload_folders_documents_idx` on `upload_folders` (`document_id`, `locale`, `published_at`);
CREATE INDEX `upload_folders_created_by_id_fk` on `upload_folders` (`created_by_id`);
CREATE INDEX `upload_folders_updated_by_id_fk` on `upload_folders` (`updated_by_id`);
CREATE INDEX `i18n_locale_documents_idx` on `i18n_locale` (`document_id`, `locale`, `published_at`);
CREATE INDEX `i18n_locale_created_by_id_fk` on `i18n_locale` (`created_by_id`);
CREATE INDEX `i18n_locale_updated_by_id_fk` on `i18n_locale` (`updated_by_id`);
CREATE INDEX `strapi_releases_documents_idx` on `strapi_releases` (`document_id`, `locale`, `published_at`);
CREATE INDEX `strapi_releases_created_by_id_fk` on `strapi_releases` (`created_by_id`);
CREATE INDEX `strapi_releases_updated_by_id_fk` on `strapi_releases` (`updated_by_id`);
CREATE INDEX `strapi_release_actions_documents_idx` on `strapi_release_actions` (`document_id`, `locale`, `published_at`);
CREATE INDEX `strapi_release_actions_created_by_id_fk` on `strapi_release_actions` (`created_by_id`);
CREATE INDEX `strapi_release_actions_updated_by_id_fk` on `strapi_release_actions` (`updated_by_id`);
CREATE INDEX `strapi_workflows_documents_idx` on `strapi_workflows` (`document_id`, `locale`, `published_at`);
CREATE INDEX `strapi_workflows_created_by_id_fk` on `strapi_workflows` (`created_by_id`);
CREATE INDEX `strapi_workflows_updated_by_id_fk` on `strapi_workflows` (`updated_by_id`);
CREATE INDEX `strapi_workflows_stages_documents_idx` on `strapi_workflows_stages` (`document_id`, `locale`, `published_at`);
CREATE INDEX `strapi_workflows_stages_created_by_id_fk` on `strapi_workflows_stages` (`created_by_id`);
CREATE INDEX `strapi_workflows_stages_updated_by_id_fk` on `strapi_workflows_stages` (`updated_by_id`);
CREATE INDEX `up_permissions_documents_idx` on `up_permissions` (`document_id`, `locale`, `published_at`);
CREATE INDEX `up_permissions_created_by_id_fk` on `up_permissions` (`created_by_id`);
CREATE INDEX `up_permissions_updated_by_id_fk` on `up_permissions` (`updated_by_id`);
CREATE INDEX `up_roles_documents_idx` on `up_roles` (`document_id`, `locale`, `published_at`);
CREATE INDEX `up_roles_created_by_id_fk` on `up_roles` (`created_by_id`);
CREATE INDEX `up_roles_updated_by_id_fk` on `up_roles` (`updated_by_id`);
CREATE INDEX `up_users_documents_idx` on `up_users` (`document_id`, `locale`, `published_at`);
CREATE INDEX `up_users_created_by_id_fk` on `up_users` (`created_by_id`);
CREATE INDEX `up_users_updated_by_id_fk` on `up_users` (`updated_by_id`);
CREATE INDEX `admin_permissions_documents_idx` on `admin_permissions` (`document_id`, `locale`, `published_at`);
CREATE INDEX `admin_permissions_created_by_id_fk` on `admin_permissions` (`created_by_id`);
CREATE INDEX `admin_permissions_updated_by_id_fk` on `admin_permissions` (`updated_by_id`);
CREATE INDEX `admin_users_documents_idx` on `admin_users` (`document_id`, `locale`, `published_at`);
CREATE INDEX `admin_users_created_by_id_fk` on `admin_users` (`created_by_id`);
CREATE INDEX `admin_users_updated_by_id_fk` on `admin_users` (`updated_by_id`);
CREATE INDEX `admin_roles_documents_idx` on `admin_roles` (`document_id`, `locale`, `published_at`);
CREATE INDEX `admin_roles_created_by_id_fk` on `admin_roles` (`created_by_id`);
CREATE INDEX `admin_roles_updated_by_id_fk` on `admin_roles` (`updated_by_id`);
CREATE INDEX `strapi_api_tokens_documents_idx` on `strapi_api_tokens` (`document_id`, `locale`, `published_at`);
CREATE INDEX `strapi_api_tokens_created_by_id_fk` on `strapi_api_tokens` (`created_by_id`);
CREATE INDEX `strapi_api_tokens_updated_by_id_fk` on `strapi_api_tokens` (`updated_by_id`);
CREATE INDEX `strapi_api_token_permissions_documents_idx` on `strapi_api_token_permissions` (`document_id`, `locale`, `published_at`);
CREATE INDEX `strapi_api_token_permissions_created_by_id_fk` on `strapi_api_token_permissions` (`created_by_id`);
CREATE INDEX `strapi_api_token_permissions_updated_by_id_fk` on `strapi_api_token_permissions` (`updated_by_id`);
CREATE INDEX `strapi_transfer_tokens_documents_idx` on `strapi_transfer_tokens` (`document_id`, `locale`, `published_at`);
CREATE INDEX `strapi_transfer_tokens_created_by_id_fk` on `strapi_transfer_tokens` (`created_by_id`);
CREATE INDEX `strapi_transfer_tokens_updated_by_id_fk` on `strapi_transfer_tokens` (`updated_by_id`);
CREATE INDEX `strapi_transfer_token_permissions_documents_idx` on `strapi_transfer_token_permissions` (`document_id`, `locale`, `published_at`);
CREATE INDEX `strapi_transfer_token_permissions_created_by_id_fk` on `strapi_transfer_token_permissions` (`created_by_id`);
CREATE INDEX `strapi_transfer_token_permissions_updated_by_id_fk` on `strapi_transfer_token_permissions` (`updated_by_id`);
CREATE INDEX `components_pricing_plans_field_idx` on `components_pricing_plans_cmps` (`field`);
CREATE INDEX `components_pricing_plans_component_type_idx` on `components_pricing_plans_cmps` (`component_type`);
CREATE INDEX `components_pricing_plans_entity_fk` on `components_pricing_plans_cmps` (`entity_id`);
CREATE UNIQUE INDEX `components_pricing_plans_uq` on `components_pricing_plans_cmps` (`entity_id`, `cmp_id`, `field`, `component_type`);
CREATE INDEX `components_home_page_footers_field_idx` on `components_home_page_footers_cmps` (`field`);
CREATE INDEX `components_home_page_footers_component_type_idx` on `components_home_page_footers_cmps` (`component_type`);
CREATE INDEX `components_home_page_footers_entity_fk` on `components_home_page_footers_cmps` (`entity_id`);
CREATE UNIQUE INDEX `components_home_page_footers_uq` on `components_home_page_footers_cmps` (`entity_id`, `cmp_id`, `field`, `component_type`);
CREATE INDEX `strapi_history_versions_created_by_id_fk` on `strapi_history_versions` (`created_by_id`);
CREATE INDEX `files_related_mph_fk` on `files_related_mph` (`file_id`);
CREATE INDEX `files_related_mph_oidx` on `files_related_mph` (`order`);
CREATE INDEX `files_related_mph_idix` on `files_related_mph` (`related_id`);
CREATE INDEX `files_folder_lnk_fk` on `files_folder_lnk` (`file_id`);
CREATE INDEX `files_folder_lnk_ifk` on `files_folder_lnk` (`folder_id`);
CREATE UNIQUE INDEX `files_folder_lnk_uq` on `files_folder_lnk` (`file_id`, `folder_id`);
CREATE INDEX `files_folder_lnk_oifk` on `files_folder_lnk` (`file_ord`);
CREATE INDEX `upload_folders_parent_lnk_fk` on `upload_folders_parent_lnk` (`folder_id`);
CREATE INDEX `upload_folders_parent_lnk_ifk` on `upload_folders_parent_lnk` (`inv_folder_id`);
CREATE UNIQUE INDEX `upload_folders_parent_lnk_uq` on `upload_folders_parent_lnk` (`folder_id`, `inv_folder_id`);
CREATE INDEX `upload_folders_parent_lnk_oifk` on `upload_folders_parent_lnk` (`folder_ord`);
CREATE INDEX `strapi_release_actions_release_lnk_fk` on `strapi_release_actions_release_lnk` (`release_action_id`);
CREATE INDEX `strapi_release_actions_release_lnk_ifk` on `strapi_release_actions_release_lnk` (`release_id`);
CREATE UNIQUE INDEX `strapi_release_actions_release_lnk_uq` on `strapi_release_actions_release_lnk` (`release_action_id`, `release_id`);
CREATE INDEX `strapi_release_actions_release_lnk_oifk` on `strapi_release_actions_release_lnk` (`release_action_ord`);
CREATE INDEX `strapi_workflows_stage_required_to_publish_lnk_fk` on `strapi_workflows_stage_required_to_publish_lnk` (`workflow_id`);
CREATE INDEX `strapi_workflows_stage_required_to_publish_lnk_ifk` on `strapi_workflows_stage_required_to_publish_lnk` (`workflow_stage_id`);
CREATE UNIQUE INDEX `strapi_workflows_stage_required_to_publish_lnk_uq` on `strapi_workflows_stage_required_to_publish_lnk` (`workflow_id`, `workflow_stage_id`);
CREATE INDEX `strapi_workflows_stages_workflow_lnk_fk` on `strapi_workflows_stages_workflow_lnk` (`workflow_stage_id`);
CREATE INDEX `strapi_workflows_stages_workflow_lnk_ifk` on `strapi_workflows_stages_workflow_lnk` (`workflow_id`);
CREATE UNIQUE INDEX `strapi_workflows_stages_workflow_lnk_uq` on `strapi_workflows_stages_workflow_lnk` (`workflow_stage_id`, `workflow_id`);
CREATE INDEX `strapi_workflows_stages_workflow_lnk_oifk` on `strapi_workflows_stages_workflow_lnk` (`workflow_stage_ord`);
CREATE INDEX `strapi_workflows_stages_permissions_lnk_fk` on `strapi_workflows_stages_permissions_lnk` (`workflow_stage_id`);
CREATE INDEX `strapi_workflows_stages_permissions_lnk_ifk` on `strapi_workflows_stages_permissions_lnk` (`permission_id`);
CREATE UNIQUE INDEX `strapi_workflows_stages_permissions_lnk_uq` on `strapi_workflows_stages_permissions_lnk` (`workflow_stage_id`, `permission_id`);
CREATE INDEX `strapi_workflows_stages_permissions_lnk_ofk` on `strapi_workflows_stages_permissions_lnk` (`permission_ord`);
CREATE INDEX `up_permissions_role_lnk_fk` on `up_permissions_role_lnk` (`permission_id`);
CREATE INDEX `up_permissions_role_lnk_ifk` on `up_permissions_role_lnk` (`role_id`);
CREATE UNIQUE INDEX `up_permissions_role_lnk_uq` on `up_permissions_role_lnk` (`permission_id`, `role_id`);
CREATE INDEX `up_permissions_role_lnk_oifk` on `up_permissions_role_lnk` (`permission_ord`);
CREATE INDEX `up_users_role_lnk_fk` on `up_users_role_lnk` (`user_id`);
CREATE INDEX `up_users_role_lnk_ifk` on `up_users_role_lnk` (`role_id`);
CREATE UNIQUE INDEX `up_users_role_lnk_uq` on `up_users_role_lnk` (`user_id`, `role_id`);
CREATE INDEX `up_users_role_lnk_oifk` on `up_users_role_lnk` (`user_ord`);
CREATE INDEX `admin_permissions_role_lnk_fk` on `admin_permissions_role_lnk` (`permission_id`);
CREATE INDEX `admin_permissions_role_lnk_ifk` on `admin_permissions_role_lnk` (`role_id`);
CREATE UNIQUE INDEX `admin_permissions_role_lnk_uq` on `admin_permissions_role_lnk` (`permission_id`, `role_id`);
CREATE INDEX `admin_permissions_role_lnk_oifk` on `admin_permissions_role_lnk` (`permission_ord`);
CREATE INDEX `admin_users_roles_lnk_fk` on `admin_users_roles_lnk` (`user_id`);
CREATE INDEX `admin_users_roles_lnk_ifk` on `admin_users_roles_lnk` (`role_id`);
CREATE UNIQUE INDEX `admin_users_roles_lnk_uq` on `admin_users_roles_lnk` (`user_id`, `role_id`);
CREATE INDEX `admin_users_roles_lnk_ofk` on `admin_users_roles_lnk` (`role_ord`);
CREATE INDEX `admin_users_roles_lnk_oifk` on `admin_users_roles_lnk` (`user_ord`);
CREATE INDEX `strapi_api_token_permissions_token_lnk_fk` on `strapi_api_token_permissions_token_lnk` (`api_token_permission_id`);
CREATE INDEX `strapi_api_token_permissions_token_lnk_ifk` on `strapi_api_token_permissions_token_lnk` (`api_token_id`);
CREATE UNIQUE INDEX `strapi_api_token_permissions_token_lnk_uq` on `strapi_api_token_permissions_token_lnk` (`api_token_permission_id`, `api_token_id`);
CREATE INDEX `strapi_api_token_permissions_token_lnk_oifk` on `strapi_api_token_permissions_token_lnk` (`api_token_permission_ord`);
CREATE INDEX `strapi_transfer_token_permissions_token_lnk_fk` on `strapi_transfer_token_permissions_token_lnk` (`transfer_token_permission_id`);
CREATE INDEX `strapi_transfer_token_permissions_token_lnk_ifk` on `strapi_transfer_token_permissions_token_lnk` (`transfer_token_id`);
CREATE UNIQUE INDEX `strapi_transfer_token_permissions_token_lnk_uq` on `strapi_transfer_token_permissions_token_lnk` (`transfer_token_permission_id`, `transfer_token_id`);
CREATE INDEX `strapi_transfer_token_permissions_token_lnk_oifk` on `strapi_transfer_token_permissions_token_lnk` (`transfer_token_permission_ord`);
CREATE INDEX `components_about_us_founder_sections_field_idx` on `components_about_us_founder_sections_cmps` (`field`);
CREATE INDEX `components_about_us_founder_sections_component_type_idx` on `components_about_us_founder_sections_cmps` (`component_type`);
CREATE INDEX `components_about_us_founder_sections_entity_fk` on `components_about_us_founder_sections_cmps` (`entity_id`);
CREATE UNIQUE INDEX `components_about_us_founder_sections_uq` on `components_about_us_founder_sections_cmps` (`entity_id`, `cmp_id`, `field`, `component_type`);
CREATE INDEX `about_uses_field_idx` on `about_uses_cmps` (`field`);
CREATE INDEX `about_uses_component_type_idx` on `about_uses_cmps` (`component_type`);
CREATE INDEX `about_uses_entity_fk` on `about_uses_cmps` (`entity_id`);
CREATE UNIQUE INDEX `about_uses_uq` on `about_uses_cmps` (`entity_id`, `cmp_id`, `field`, `component_type`);
CREATE INDEX `about_uses_documents_idx` on `about_uses` (`document_id`, `locale`, `published_at`);
CREATE INDEX `about_uses_created_by_id_fk` on `about_uses` (`created_by_id`);
CREATE INDEX `about_uses_updated_by_id_fk` on `about_uses` (`updated_by_id`);
CREATE INDEX `ac_blog_category_documents_idx` on `ac_blog_category` (`document_id`, `locale`, `published_at`);
CREATE INDEX `ac_blog_category_created_by_id_fk` on `ac_blog_category` (`created_by_id`);
CREATE INDEX `ac_blog_category_updated_by_id_fk` on `ac_blog_category` (`updated_by_id`);
CREATE INDEX `ac_blog_documents_idx` on `ac_blog` (`document_id`, `locale`, `published_at`);
CREATE INDEX `ac_blog_created_by_id_fk` on `ac_blog` (`created_by_id`);
CREATE INDEX `ac_blog_updated_by_id_fk` on `ac_blog` (`updated_by_id`);
CREATE INDEX `blogs_documents_idx` on `blogs` (`document_id`, `locale`, `published_at`);
CREATE INDEX `blogs_created_by_id_fk` on `blogs` (`created_by_id`);
CREATE INDEX `blogs_updated_by_id_fk` on `blogs` (`updated_by_id`);
CREATE INDEX `contact_uses_documents_idx` on `contact_uses` (`document_id`, `locale`, `published_at`);
CREATE INDEX `contact_uses_created_by_id_fk` on `contact_uses` (`created_by_id`);
CREATE INDEX `contact_uses_updated_by_id_fk` on `contact_uses` (`updated_by_id`);
CREATE INDEX `contacts_details_list_documents_idx` on `contacts_details_list` (`document_id`, `locale`, `published_at`);
CREATE INDEX `contacts_details_list_created_by_id_fk` on `contacts_details_list` (`created_by_id`);
CREATE INDEX `contacts_details_list_updated_by_id_fk` on `contacts_details_list` (`updated_by_id`);
CREATE INDEX `dg_posts_documents_idx` on `dg_posts` (`document_id`, `locale`, `published_at`);
CREATE INDEX `dg_posts_created_by_id_fk` on `dg_posts` (`created_by_id`);
CREATE INDEX `dg_posts_updated_by_id_fk` on `dg_posts` (`updated_by_id`);
CREATE INDEX `faqs_documents_idx` on `faqs` (`document_id`, `locale`, `published_at`);
CREATE INDEX `faqs_created_by_id_fk` on `faqs` (`created_by_id`);
CREATE INDEX `faqs_updated_by_id_fk` on `faqs` (`updated_by_id`);
CREATE INDEX `feedbacks_documents_idx` on `feedbacks` (`document_id`, `locale`, `published_at`);
CREATE INDEX `feedbacks_created_by_id_fk` on `feedbacks` (`created_by_id`);
CREATE INDEX `feedbacks_updated_by_id_fk` on `feedbacks` (`updated_by_id`);
CREATE INDEX `gallaries_documents_idx` on `gallaries` (`document_id`, `locale`, `published_at`);
CREATE INDEX `gallaries_created_by_id_fk` on `gallaries` (`created_by_id`);
CREATE INDEX `gallaries_updated_by_id_fk` on `gallaries` (`updated_by_id`);
CREATE INDEX `home_pages_field_idx` on `home_pages_cmps` (`field`);
CREATE INDEX `home_pages_component_type_idx` on `home_pages_cmps` (`component_type`);
CREATE INDEX `home_pages_entity_fk` on `home_pages_cmps` (`entity_id`);
CREATE UNIQUE INDEX `home_pages_uq` on `home_pages_cmps` (`entity_id`, `cmp_id`, `field`, `component_type`);
CREATE INDEX `home_pages_documents_idx` on `home_pages` (`document_id`, `locale`, `published_at`);
CREATE INDEX `home_pages_created_by_id_fk` on `home_pages` (`created_by_id`);
CREATE INDEX `home_pages_updated_by_id_fk` on `home_pages` (`updated_by_id`);
CREATE INDEX `pricings_field_idx` on `pricings_cmps` (`field`);
CREATE INDEX `pricings_component_type_idx` on `pricings_cmps` (`component_type`);
CREATE INDEX `pricings_entity_fk` on `pricings_cmps` (`entity_id`);
CREATE UNIQUE INDEX `pricings_uq` on `pricings_cmps` (`entity_id`, `cmp_id`, `field`, `component_type`);
CREATE INDEX `pricings_documents_idx` on `pricings` (`document_id`, `locale`, `published_at`);
CREATE INDEX `pricings_created_by_id_fk` on `pricings` (`created_by_id`);
CREATE INDEX `pricings_updated_by_id_fk` on `pricings` (`updated_by_id`);
CREATE INDEX `ac_blog_categories_lnk_fk` on `ac_blog_categories_lnk` (`ac_blogs_id`);
CREATE INDEX `ac_blog_categories_lnk_ifk` on `ac_blog_categories_lnk` (`ac_blog_categories_id`);
CREATE UNIQUE INDEX `ac_blog_categories_lnk_uq` on `ac_blog_categories_lnk` (`ac_blogs_id`, `ac_blog_categories_id`);
CREATE INDEX `ac_blog_categories_lnk_oifk` on `ac_blog_categories_lnk` (`ac_blogs_ord`);
CREATE INDEX `ac_courses_documents_idx` on `ac_courses` (`document_id`, `locale`, `published_at`);
CREATE INDEX `ac_courses_created_by_id_fk` on `ac_courses` (`created_by_id`);
CREATE INDEX `ac_courses_updated_by_id_fk` on `ac_courses` (`updated_by_id`);
CREATE INDEX `ac_course_categories_documents_idx` on `ac_course_categories` (`document_id`, `locale`, `published_at`);
CREATE INDEX `ac_course_categories_created_by_id_fk` on `ac_course_categories` (`created_by_id`);
CREATE INDEX `ac_course_categories_updated_by_id_fk` on `ac_course_categories` (`updated_by_id`);
CREATE INDEX `ac_faqs_documents_idx` on `ac_faqs` (`document_id`, `locale`, `published_at`);
CREATE INDEX `ac_faqs_created_by_id_fk` on `ac_faqs` (`created_by_id`);
CREATE INDEX `ac_faqs_updated_by_id_fk` on `ac_faqs` (`updated_by_id`);
CREATE INDEX `ac_lessons_documents_idx` on `ac_lessons` (`document_id`, `locale`, `published_at`);
CREATE INDEX `ac_lessons_created_by_id_fk` on `ac_lessons` (`created_by_id`);
CREATE INDEX `ac_lessons_updated_by_id_fk` on `ac_lessons` (`updated_by_id`);
CREATE INDEX `ac_questions_field_idx` on `ac_questions_cmps` (`field`);
CREATE INDEX `ac_questions_component_type_idx` on `ac_questions_cmps` (`component_type`);
CREATE INDEX `ac_questions_entity_fk` on `ac_questions_cmps` (`entity_id`);
CREATE UNIQUE INDEX `ac_questions_uq` on `ac_questions_cmps` (`entity_id`, `cmp_id`, `field`, `component_type`);
CREATE INDEX `ac_questions_documents_idx` on `ac_questions` (`document_id`, `locale`, `published_at`);
CREATE INDEX `ac_questions_created_by_id_fk` on `ac_questions` (`created_by_id`);
CREATE INDEX `ac_questions_updated_by_id_fk` on `ac_questions` (`updated_by_id`);
CREATE INDEX `ac_questionnaires_documents_idx` on `ac_questionnaires` (`document_id`, `locale`, `published_at`);
CREATE INDEX `ac_questionnaires_created_by_id_fk` on `ac_questionnaires` (`created_by_id`);
CREATE INDEX `ac_questionnaires_updated_by_id_fk` on `ac_questionnaires` (`updated_by_id`);
CREATE INDEX `tests_documents_idx` on `tests` (`document_id`, `locale`, `published_at`);
CREATE INDEX `tests_created_by_id_fk` on `tests` (`created_by_id`);
CREATE INDEX `tests_updated_by_id_fk` on `tests` (`updated_by_id`);
CREATE INDEX `ac_course_categories_course_lnk_fk` on `ac_course_categories_course_lnk` (`ac_course_category_id`);
CREATE INDEX `ac_course_categories_course_lnk_ifk` on `ac_course_categories_course_lnk` (`ac_course_id`);
CREATE UNIQUE INDEX `ac_course_categories_course_lnk_uq` on `ac_course_categories_course_lnk` (`ac_course_category_id`, `ac_course_id`);
CREATE INDEX `ac_course_categories_course_lnk_oifk` on `ac_course_categories_course_lnk` (`ac_course_category_ord`);
CREATE INDEX `ac_lessons_course_lnk_fk` on `ac_lessons_course_lnk` (`ac_lesson_id`);
CREATE INDEX `ac_lessons_course_lnk_ifk` on `ac_lessons_course_lnk` (`ac_course_id`);
CREATE UNIQUE INDEX `ac_lessons_course_lnk_uq` on `ac_lessons_course_lnk` (`ac_lesson_id`, `ac_course_id`);
CREATE INDEX `ac_lessons_course_lnk_oifk` on `ac_lessons_course_lnk` (`ac_lesson_ord`);
CREATE INDEX `ac_questions_questionnaire_lnk_fk` on `ac_questions_questionnaire_lnk` (`ac_question_id`);
CREATE INDEX `ac_questions_questionnaire_lnk_ifk` on `ac_questions_questionnaire_lnk` (`ac_questionnaire_id`);
CREATE UNIQUE INDEX `ac_questions_questionnaire_lnk_uq` on `ac_questions_questionnaire_lnk` (`ac_question_id`, `ac_questionnaire_id`);
CREATE INDEX `ac_questions_questionnaire_lnk_oifk` on `ac_questions_questionnaire_lnk` (`ac_question_ord`);
COMMIT;
